[Unit]
Description=Teamcity

[Service]
Type=forking
ExecStart=/bin/bash /opt/teamcity/bin/ runAll.sh start &> /dev/null
User=teamcity

[Install]
WantedBy=multi-user.target
